*.py[co]
*.egg
*.egg-info
bin/
dist/
parts/
var/
develop-eggs/
.installed.cfg
.DS\_Store
.installed.cfg
etc/local-settings.ini
etc/crate.yml
etc/supervisord.conf
iris/service/docs
iris/service/testing/testing.ini
iris.service.egg-info
