*.py[co]
*.egg
*.egg-info
bin/
dist/
parts/
var/
develop-eggs/
.installed.cfg
.DS\_Store
.installed.cfg
.python-version
etc/local-settings.ini
etc/crate.yml
etc/supervisord.conf
src/iris/service/docs
src/iris.service.egg-info
src/iris/service/swaggerui/dist
.gradle/
build/
/v/
VERSION.txt
.idea/
*.iml
