[buildout]
develop = .
extends = versions.cfg
parts = dirs conf
        app-scripts
        test flake8
versions = versions
show-picked-versions = true

[dirs]
recipe = z3c.recipe.mkdir
paths = var/run

[conf]
recipe = z3c.recipe.filetemplate
files = iris/service/testing/testing.ini

[ports]
app = 8080

[app-scripts]
recipe = zc.recipe.egg:scripts
scripts = app proutes
relative-paths=true
eggs = iris.service
       pyramid
initialization =
    from gevent import monkey
    monkey.patch_all()
    sys.argv.insert(1, '${buildout:directory}/etc/pyramid-settings.ini')
    port = [a for a in sys.argv if 'http_port' in a]
    if not port:
        sys.argv.append('http_port=${ports:app}')

[test]
recipe = zc.recipe.egg:script
scripts = test
entry-points=test=collective.xmltestreport.runner:run
relative-paths=true
eggs = iris.service [test]
interpreter = py
initialization =
 from gevent import monkey
 monkey.patch_all()
 sys.path.append('${buildout:directory}')
 sys.argv.extend(['--auto-color',
                  '--tests-pattern', '^f?tests$',
                  '--test-path', base,])

[flake8]
recipe = zc.recipe.egg:script
eggs = flake8
initialization =
    import sys
    if len(sys.argv) == 1:
        sys.argv[1:1] = ['${buildout:directory}/iris/service', '--ignore=E121,E123,E124,E126']
