include VERSION.txt
recursive-include src/iris/service *.jinja2
recursive-include src/iris/service/docs *
recursive-include src/iris/service/auth/templates *

recursive-include src/iris/service/content/petition *.yaml

graft src/iris/service/swagger
graft src/iris/service/swaggerui/dist
exclude src/iris/service/swaggerui/dist/index.html

recursive-exclude src/iris/service tests.py
recursive-exclude src/iris/service/testing *
