include versions.cfg
recursive-include iris/service *.jinja2
recursive-include iris/service/docs *

graft iris/service/swagger
graft iris/service/swaggerui/dist
exclude iris/service/swaggerui/dist/index.html

recursive-exclude iris/service tests.py
recursive-exclude iris/service/testing *
