# proxy for http to https

location ~ '^/https_proxy$' {
    if ($request_method = 'GET') {
        # proxy_pass $arg_url;
        proxy_pass http://www.lovelysystems.com;
        break;
    }
    if ($request_method != 'GET') {
        return 405;
    }
}
