# proxy for http to https

location ~ '^/https_proxy$' {
    if ($request_method = 'GET') {
        set_unescape_uri $url $arg_url;
        proxy_pass $url;
        break;
    }
    if ($request_method != 'GET') {
        return 405;
    }
}
