{%- set crate = config['containers']['iris-crate'] -%}
es:
    api:
        enabled: true
script:
    groovy:
        sandbox:
            enabled: true
http:
    port: {{ crate['ports'][0][1] }}
    cors:
        enabled: true
        allow-origin: "/.*/"

transport:
    tcp:
        port: {{ crate['ports'][1][0] }}

path:
    logs:  {{ crate['log_path'] }}
    data:  {{ crate['data_path'] }}

discovery:
    type: zen
    zen:
        ping:
            multicast:
                enabled:  false
            unicast:
                hosts:
                    {%- for node in crate['hosts'] %}
                    - {{ node }}:{{ crate['ports'][1][0] }}
                    {%- endfor %}

cluster:
    name: {{ crate['cluster_name'] }}

network:
    bind_host: 0.0.0.0
    publish_host: {{ hostname }}
