es:
    api:
        enabled: true
script:
    groovy:
        sandbox:
            enabled: true
http:
    port: {{config['containers']['iris-crate']['ports'][0][1]}}
    cors:
        enabled: true
        allow-origin: "/.*/"
path:
    logs:  {{config['containers']['iris-crate']['log_path']}}
    data:  {{config['containers']['iris-crate']['data_path']}}
discovery:
    type: zen
    zen:
        ping:
            multicast:
                enabled:  false
            unicast:
                hosts:
                    {%- for node in config['containers']['iris-crate']['hosts'] %}
                    - {{node}}
                    {%- endfor %}
cluster:
    name: {{config['containers']['iris-crate']['cluster_name']}}
